.infocontainer {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 13px 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 13px 0px rgba(255, 255, 255, 1);

  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 2rem;
  padding: 3rem 2rem;
}

.infocontainer-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infocontainer-upper span {
  flex: 1;
  font-family: var(--font-company);
  font-weight: 800;
  font-size: 20px;
}

.info-details {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0.5rem;
}

.info-details p {
  font-weight: 900;
  margin-bottom: 1rem;
  font-family: var(--font-base);
}

.info-details span {
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 18px;
}

.infocontainer-upper button {
  background-color: #00289e;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: white;
}

.infocontainer-lower {
  -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 1rem;
  margin-top: 2rem;
}

.lower-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lower-description p {
  font-family: var(--font-base);
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.lower-description span {
  font-family: var(--font-base);
  font-size: 18px;
  margin-bottom: 1rem;
}

.lower-otherDetails {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.lower-otherDetails-left,
.lower-otherDetails-right {
  display: flex;
  flex-direction: column;
}

.lower-otherDetails-left p,
.lower-otherDetails-right p {
  font-weight: 900;
  margin-bottom: 0.5rem;
  font-family: var(--font-base);
}

.lower-otherDetails-left span,
.lower-otherDetails-right span {
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 1rem;
}
@media screen and (max-width: 900px) {
  .infocontainer {
    padding: 2rem;
  }
  .infocontainer-upper span {
    font-size: 18px;
  }
  .info-details p,
  .lower-description p,
  .lower-otherDetails-left p,
  .lower-otherDetails-right p {
    font-size: 14px;
  }
  .info-details span,
  .lower-description span,
  .lower-otherDetails-left span,
  .lower-otherDetails-right span {
    font-size: 16px;
  }
  .infocontainer-upper button {
    padding: 0.5rem;
    font-size: 12px;
  }
}

@media screen and (max-width: 700px) {
  .infocontainer-upper span {
    font-size: 16px;
  }
  .info-details p,
  .lower-description p,
  .lower-otherDetails-left p,
  .lower-otherDetails-right p {
    font-size: 12px;
  }
  .info-details span,
  .lower-description span,
  .lower-otherDetails-left span,
  .lower-otherDetails-right span {
    font-size: 14px;
  }
  .infocontainer-upper button {
    padding: 0.5rem;
    font-size: 11px;
  }
}

@media screen and (max-width: 500px) {
  .infocontainer-upper {
    flex-direction: column;
  }
  .infocontainer-upper span {
    font-size: 18px;
    margin-bottom: 0.5rem;
  }
  .infocontainer {
    padding: 1rem;
  }
  .info-details {
    width: 100%;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .info-details p {
    flex: 1;
    margin-bottom: 0.5rem;
    font-size: 12px;
  }
  .info-details span {
    flex: 1;
    font-size: 14px;
  }
  .lower-description p,
  .lower-otherDetails-left p,
  .lower-otherDetails-right p {
    font-size: 12px;
  }
  .lower-description span,
  .lower-otherDetails-left span,
  .lower-otherDetails-right span {
    font-size: 14px;
  }
  .infocontainer-upper button {
    padding: 0.5rem;
    font-size: 11px;
    margin-top: 0.5rem;
  }
}
